---
import Layout from '../layouts/Layout.astro';
import MultiStepForm from '../components/MultiStepForm.astro';
---

<Layout title="Frontend Mentor | Multi-step form">
	<main>
		<MultiStepForm />
	</main>
</Layout>